.body {
    -fx-alignment: center;
    -fx-background-color: #ffffff;
}

.titlePage {
    -fx-font-size: 1.8em;
    -fx-font-weight: bold;
    -fx-text-fill: #1976D2;
    -fx-padding: 10px;
}

.LoginLabel, .PassLabel {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-text-fill: #1976D2;
}

.LoginField, .PassField {
    -fx-font-size: 14px;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #0078D4;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-pref-width: 466px;
    -fx-pref-height: 25px;
}

.SubmitButton {
    -fx-background-color: #0078D4;
    -fx-font-weight: bold;
    -fx-font-size: 1.8em;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-pref-width: 240px;
    -fx-pref-height: 55px;
}