/* Barra Superior */
.topBar {
    -fx-background-color: #0078D4; /* Cor de fundo */
    -fx-alignment: center-left; /* Alinhamento do texto */
    -fx-padding: 0 20px; /* Espaçamento interno */
    -fx-text-fill: white; /* Cor do texto */
}

/* Botão de Logout */
#logoutButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Menu Lateral */
#sideMenu {
    -fx-background-color: #F5F5F5;
    -fx-padding: 10px;
}

/* Botões do Menu */
.button {
    -fx-background-color: #0078D4; /* Cor de fundo */
    -fx-border-radius: 10px; /* Bordas arredondadas */
    -fx-background-radius: 10px; /* Bordas arredondadas */
    -fx-font-size: 1.2em; /* Tamanho da fonte */
    -fx-text-fill: #fff; /* Cor do texto */
    -fx-font-weight: bold; /* Negrito */
    -fx-padding: 10px;
    -fx-alignment: center; /* Centraliza o texto */
    -fx-wrap-text: true; /* Quebra de texto */
}


/* Área de Conteúdo */
#contentArea {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-font-size: 16px;
}
